target/
.mvn/*
!.mvn/jvm.config
!.mvn/settings.xml_template
.gradle/
!**/src/main/**/target/
!**/src/test/**/target/
*.log
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
