# стендозависимые параметры для dev-стенда
deployment:
  replicas: 1
  imagePath: "docker-dev.registry-ci.delta.sbrf.ru/ci02440297/ci04646163"
# https://docs.confluent.io/platform/current/installation/system-requirements.html#on-premises
  resources:
    cpu: 500m
    memory: 1Gi
  rollingUpdateMaxSurge: "25%"

settings:
  env:
    CUSTOM_SCRIPT_PATH: "/connectors/create-connectors.sh"
  kafkaConnectDistributedProperties: |
    bootstrap.servers=kafka:9092
    group.id=debezium.kafka-connect.consumer
    key.converter=org.apache.kafka.connect.storage.StringConverter
    value.converter=org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable=false
    value.converter.schemas.enable=false
    offset.storage.topic=connect-offsets
    config.storage.topic=connect-configs
    status.storage.topic=connect-status
    offset.flush.interval.ms=10000
    rest.advertised.host.name=sberid-replication-source
    plugin.path=/usr/share/java,/usr/share/confluent-hub-components,/data/connect-jars
    
    rest.host_name=localhost
    rest.port=8083
    rest.advertised.host_name=localhost
    rest.advertised.port=8083

    config.providers=file
    config.providers.file.class=org.apache.kafka.common.config.provider.FileConfigProvider    
    
    security.protocol=SSL
    ssl.truststore.location=/vault/secrets/truststore.jks
    ssl.truststore.password=${file:/vault/secrets/connect-secret.properties:SSL_TRUSTSTORE_PASSWORD}
    ssl.keystore.location=/vault/secrets/keystore.jks
    ssl.keystore.password=${file:/vault/secrets/connect-secret.properties:SSL_KEYSTORE_PASSWORD}
  usersSinkConnector: |
    {
      "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
      "tasks.max": "1",
      "plugin.name": "pgoutput",
      "database.hostname": "tdled-mprb00020.enablers.sbrf.ru",
      "database.port": "5433",
      "database.user": "replicator",
      "database.password": "${file:/vault/secrets/connect-secret.properties:DATABASE_PASSWORD}",
      "database.dbname": "idpdb",
      "database.server.name": "idpdb",
      "schema.include.list": "idp",
      "table.include.list": "idp.users",
      "table.name.format": "${topic}",
      "time.precision.mode": "connect",
      "decimal.handling.mode": "precise",
      "tombstones.on.delete": false,
      "publication.autocreate.mode": "filtered",
      "snapshot.mode": "initial",
      "snapshot.lock.timeout.ms": 10000,
      "max.queue.size": 20240,
      "max.batch.size": 10240,
      "poll.interval.ms": 1000,
      "snapshot.fetch.size": 10240,
      "provide.transaction.metadata": true,
      "transaction.topic": "idpdb.primary.transaction",
      "key.converter": "org.apache.kafka.connect.json.JsonConverter",
      "key.converter.schemas.enable": "true",
      "value.converter": "org.apache.kafka.connect.json.JsonConverter",
      "value.converter.schemas.enable": "true",
      "transforms": "reroute",
      "transforms.reroute.type": "io.debezium.transforms.ByLogicalTableRouter",
      "transforms.reroute.topic.regex": "(.*)[.](.*)[.](.*)",
      "transforms.reroute.topic.replacement": "idpdb.primary.$3"
    }

secman:
  namespace: CI02440297_CI02516656
  role: ci02440297-etestkh-sberid-cloud-ift-h
  cluster: test-kh.enablers.sbrf.ru
  address: http://egress-secman
  path: 'A/SBERID/OSH/SBERID/KV/ci02440297-etestkh-sberid-cloud-ift-h'
  secretText:
    - name: kafka_connect_secret.properties
      secret: sberid-replication-source-standin
  secretFile:
    - name: truststore.jks
      secret: sberid-replication-source-standin
    - name: keystore.jks
      secret: sberid-replication-source-standin
    - name: ca.crt
      secret: sberid-replication-source-standin
