kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-files
  labels:
    {{- include "default.labels" . | indent 4 }}
  annotations:
    deploymentTime: {{ now | date "02.01.2006 15:04:05" }}
data:
  connect-distributed.properties: |-
{{ tpl ( .Files.Get "files/kafka-connect/connect-distributed.properties" ) . | indent 4 }}

{{- range $key, $value := .Values.settings.connectors }}
{{ $key | indent 2}}: |-
{{ $value | indent 4}}
{{- end }}