# Все параметры нацеливаем на окружение + дефолтные значения для локального запуска.
# Префикс с уникальным именем приложения (PROJECT_EXAMPLE_...) - так же для удобного локального запуска при необходимости.
spring:
  main:
    banner-mode: off
  application:
    name: ${PROJECT_EXAMPLE_SERVICE_NAME:project-example}

server:
# 0 = рандомный порт (удобно для одновременного локального запуска нескольких приложений)
  port: ${PROJECT_EXAMPLE_SERVER_PORT:0}
  ssl:
    enabled: ${PROJECT_EXAMPLE_SSL_ENABLED:false}
    key-store: ${PROJECT_EXAMPLE_SSL_KEY_STORE_PATH:classpath:key-store.jks}
    key-password: ${PROJECT_EXAMPLE_SSL_KEY_PASSWORD:secret}
    key-store-password: ${PROJECT_EXAMPLE_SSL_KEYSTORE_PASSWORD:secret}

app:
  http-client:
    egress-url: ${PROJECT_EXAMPLE_HTTP_CLIENT_CONNECT_EGRESS_URL:"https://egress-proxy:8080"}
    connect-timeout-ms: ${PROJECT_EXAMPLE_HTTP_CLIENT_CONNECT_TIMEOUT_MS:30000}
    read-timeout-ms: ${PROJECT_EXAMPLE_HTTP_CLIENT_READ_TIMEOUT_MS:30000}
    some-api:
      path: "/path1"

# Для локального запуска включены, но на стендах (кроме dev/ift) должны быть выключены
springdoc:
  api-docs:
    enabled: ${PROJECT_EXAMPLE_APIDOCS_ENABLED:true}
  swagger-ui:
    enabled: ${PROJECT_EXAMPLE_SWAGGER_UI_ENABLED:true}
  show-actuator: false
  use-management-port: true
# В итоге будет доступ по management порту и пути, например: http://serverName:9090/monitor/swagger-ui и http://serverName:9090/monitor/openapi

management:
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  health:
    defaults:
# пишем свои HealthIndicator для точного контроля, но можно и дефолтные включить, если нет хитростей
      enabled: false
  endpoint:
    health:
      enabled: true
# детальное отображение дает лишнюю нагрузку (never - дефолтное значение)
      show-details: never
    prometheus:
      enabled: true
    loggers:
# позволяет менять уровни логирования на лету
      enabled: true
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: info, health, prometheus, loggers, openapi, swagger-ui
      base-path: /monitor
      path-mapping:
        health: healthcheck
# Закрываем всё по умолчанию из соображений безопасности, т.к. часть точек содержит конфиденциальную информацию
    enabled-by-default: false
  server:
    port: ${PROJECT_EXAMPLE_MANAGEMENT_PORT:0}
  info:
    git:
      enabled: true
    java:
      enabled: true

logging:
  file:
    name: ./app.log.json