version: '3.5'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "22181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    hostname: kafka
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-connect:
    image: kafka-connect
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka
    ports:
      - "28083:8083"
    volumes:
      - ./connect-distributed.properties:/config/connect-distributed.properties
      - ./worker.properties:/config/worker.properties
    environment:
      EXTRA_ARGS: |
        -Dbootstrap.servers=kafka:9092 
        -Drest.host_name=localhost 
        -Drest.port=8083 
        -Dest.advertised.host_name=localhost 
        -Drest.advertised.port=8083 
        -Doffset.storage.topic=_debezium.connect-offsets 
        -Doffset.storage.replication.factor=1 
        -Doffset.storage.partitions=25 
        -Dconfig.storage.topic=_debezium.connect-configs 
        -Dconfig.storage.replication.factor=1 
        -Dstatus.storage.topic=_debezium.connect-status 
        -Dstatus.storage.replication.factor=1 
        -Doffset.flush.interval.ms=10000 
        -Dgroup.id=debezium.kafka-connect.consumer 
        -Dkey.converter=org.apache.kafka.connect.storage.StringConverter 
        -Dvalue.converter=org.apache.kafka.connect.json.JsonConverter 
        -Dkey.converter.schemas.enable=false 
        -Dvalue.converter.schemas.enable=false 
        -Doffset.storage.topic=connect-offsets 
        -Doffset.storage.replication.factor=1 
        -Dconfig.storage.topic=connect-configs 
        -Dconfig.storage.replication.factor=1 
        -Dstatus.storage.topic=connect-status 
        -Dstatus.storage.replication.factor=1 
        -Drest.advertised.host.name=kafka-connect 
        -Dplugin.path=/usr/share/java,/usr/share/confluent-hub-components,/data/connect-jars 

  akhq:
    image: tchiotludo/akhq
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "kafka:9092"
              schema-registry:
                url: "http://schema-registry:8081"
              connect:
                - name: "kafka-connect"
                  url: "http://kafka-connect:8083"
    ports:
      - "28080:8080"
    links:
      - kafka

  postgres:
    image: debezium/postgres:13
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./scripts/customers.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=idp
      - POSTGRES_PASSWORD=idp
      - POSTGRES_DB=idp
      - PGPASSWORD=idp
      - PGDATA=/var/lib/postgresql/data
    ports:
      - 5432:5432