version: '3.5'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "22181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    hostname: kafka
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  kafka2:
    image: confluentinc/cp-kafka:7.0.1
    hostname: kafka2
    container_name: kafka2
    depends_on:
      - zookeeper
    ports:
      - "29093:9092"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9092,PLAINTEXT_HOST://localhost:29093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  kafka3:
    image: confluentinc/cp-kafka:7.0.1
    hostname: kafka3
    container_name: kafka3
    depends_on:
      - zookeeper
    ports:
      - "29094:9092"
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:9092,PLAINTEXT_HOST://localhost:29094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

  sberid-replication-source-primary:
    image: kafka-connect-source
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka
    ports:
      - "28083:8083"
    volumes:
      - ./replication-primary/connect-distributed-source-primary.properties:/etc/kafka/connect-distributed.properties
      - ./secrets/connect-secret.properties:/vault/secrets/connect-secret.properties

  sberid-replication-sink-primary:
    image: kafka-connect-sink
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka
    ports:
      - "28084:8083"
    volumes:
      - ./replication-primary/connect-distributed-sink-primary.properties:/etc/kafka/connect-distributed.properties
      - ./secrets/connect-secret.properties:/vault/secrets/connect-secret.properties

  sberid-replication-source-standin:
    image: kafka-connect-source
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka
    ports:
      - "28085:8083"
    volumes:
      - ./replication-standin/connect-distributed-source-standin.properties:/etc/kafka/connect-distributed.properties
      - ./secrets/connect-secret.properties:/vault/secrets/connect-secret.properties

  sberid-replication-sink-standin:
    image: kafka-connect-sink
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka
    ports:
      - "28086:8083"
    volumes:
      - ./replication-standin/connect-distributed-sink-standin.properties:/etc/kafka/connect-distributed.properties
      - ./secrets/connect-secret.properties:/vault/secrets/connect-secret.properties

  akhq:
    image: tchiotludo/akhq
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "kafka:9092"
              connect:
                - name: "sberid-replication-source-primary"
                  url: "http://sberid-replication-source-primary:8083"
                - name: "sberid-replication-sink-primary"
                  url: "http://sberid-replication-sink-primary:8083"
                - name: "sberid-replication-source-standin"
                  url: "http://sberid-replication-source-standin:8083"
                - name: "sberid-replication-sink-standin"
                  url: "http://sberid-replication-sink-standin:8083"
    ports:
      - "28080:8080"
    links:
      - kafka

  idpdb_primary:
    image: debezium/postgres:13
    volumes:
      - ./postgres-data-primary:/var/lib/postgresql/data
      - ./scripts/primary.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=idpapp
      - POSTGRES_PASSWORD=idp
      - POSTGRES_DB=idpdb
      - PGPASSWORD=idp
      - PGDATA=/var/lib/postgresql/data
    ports:
      - 5432:5432

  idpdb_standin:
    image: debezium/postgres:13
    volumes:
      - ./postgres-data-standin:/var/lib/postgresql/data
      - ./scripts/standin.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=idpapp
      - POSTGRES_PASSWORD=idp
      - POSTGRES_DB=idpdb
      - PGPASSWORD=idp
      - PGDATA=/var/lib/postgresql/data
    ports:
      - 5433:5432