version: '3.5'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "22181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    hostname: kafka
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  sberid-replication-source:
    image: sberid-replication-source
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka
    ports:
      - "28083:8083"
    volumes:
      - ./connect-distributed.properties:/etc/kafka/connect-distributed.properties

  akhq:
    image: tchiotludo/akhq
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "kafka:9092"
              connect:
                - name: "sberid-replication-source"
                  url: "http://sberid-replication-source:8083"
    ports:
      - "28080:8080"
    links:
      - kafka

  postgres:
    image: debezium/postgres:13
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./scripts/customers.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=idp
      - POSTGRES_PASSWORD=idp
      - POSTGRES_DB=idp
      - PGPASSWORD=idp
      - PGDATA=/var/lib/postgresql/data
    ports:
      - 5432:5432