kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-files
  labels:
    {{- include "default.labels" . | indent 4 }}
  annotations:
    deploymentTime: {{ now | date "02.01.2006 15:04:05" }}
data:
  connect-distributed.properties: |-
{{ tpl ( .Files.Get "files/kafka-connect/connect-distributed.properties" ) . | indent 4 }}
{{ tpl ( .Files.Get "files/kafka-connect/create-connectors.sh" ) . | indent 4 }}
{{ tpl ( .Files.Get "files/kafka-connect/debezium-source-connector.json" ) . | indent 4 }}
{{ tpl ( .Files.Get "files/kafka-connect/users-sink-connector.json" ) . | indent 4 }}
