### Настройки DevSecOps ###
### Общая информация о команде ###
team:
  - {
    # код команды в МУСе
    mus_code: "00FR0080",
    # название команды в МУСе
    mus_name: "SBERIDCLOUD",
    # почтовый адрес Product Owner в МУСе для уведомлений с результатами сканирования. Возможно указание нескольких email через ;
    mus_po_mail: "Shago.V.Se@sberbank.ru;MSMolotkov@sberbank.ru;sberid_devops@sberbank.ru",
  }
### Общая информация о приложении ###
app:
  # конфигурационный элемент КЭ приложения / модуля ПО в Service Manager
  sm_id: "04646163"
  # название КЭ приложения / модуля ПО в Service Manager
#  TODO название приложения
  sm_name: ""
### Настройки SAST Checkmarx ###
sast_cx:
  # сredentials id в Jenkins для учетной записи Checkmarx одной команды, под которой будет проводиться сканирование
  creds_id: "secman_sast"
  # проектная область в JIRA для заведения и синхронизации дефектов
  jira_area: "SID"
  # маски файлов и директорий для включения (**/*) в скан и исключения (!**/*) из скана. Пример: "!**/utils/**/*.xml" - исключение всех xml файлов в папке utils
  masks: "'!init_gradle/**','!openshift/**','!templates/**','!*.html', '!**/*.html', '!build/**', '!skopeo', '!*.csv', '!*.json', '!*.xml', '!tmp/**', '!gradle/**', '!*.crt', '!*intTest/**', '!*test/**', '!*.gradle'"
  # id профиля сканирования, по умолчанию 36. 14 - для мобильного приложения. 100003 - Smoke
  preset_id: "36"
  # макс время ожидания статуса QG в минутах
  wait_qg: "0"
  ###
### Настройки OSS
oss:
  # Маски файлов и директорий для исключения из сканирования
  # Пример: "**/utils/**/*.xml" - исключение всех xml файлов во всех папках utils
  # !!! Перечисление нескольких масок возможно через знаки "," или ";" внутри одной строки, например, "**/*test*/**; **/*.txt, .git/**" !!!
  # !!! Пропуски в каждой маске справа и слева автоматически удалятся (trim) !!!
  excludes: "**/.sonar/**/*, Checkmarx/Reports/*.*, **/*.gradle, **/pom.xml, **/.git/**/*, **/src/test/**/*, **/intTest/**, **/test/**, **/generated/**/*, **/templates/**/*"
