# стендозависимые параметры для dev-стенда
deployment:
  replicas: 1
  imagePath: "registry.sigma.sbrf.ru/ci02440297/ci04646163"
# https://docs.confluent.io/platform/current/installation/system-requirements.html#on-premises
  resources:
    cpu: 500m
    memory: 1Gi
  rollingUpdateMaxSurge: "25%"

settings:
  env:
    DISABLE_ADD_CONNECTORS_SCRIPT: "false"
    KAFKA_HEAP_OPTS: "-Xms1G -Xmx1G"
  kafkaConnectDistributedProperties: |
    bootstrap.servers=tdleq-mprb00007.enablers.sbrf.ru:9093
    group.id=sberid.replication.source.primary
    key.converter=org.apache.kafka.connect.storage.StringConverter
    value.converter=org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable=false
    value.converter.schemas.enable=false
    
    offset.storage.topic=source.primary.connect-offsets
    config.storage.topic=source.primary.connect-configs
    status.storage.topic=source.primary.connect-status

    topic.creation.enable=false
    offset.flush.interval.ms=10000
    plugin.path=/usr/share/java,/usr/share/confluent-hub-components,/data/connect-jars
    
    rest.host_name=sberid-replication-source-primary
    rest.port=8083
    rest.advertised.host_name=sberid-replication-source-primary
    rest.advertised.port=8083

    config.providers=file
    config.providers.file.class=org.apache.kafka.common.config.provider.FileConfigProvider
    
    security.protocol=SSL
    ssl.truststore.location=/vault/secrets/truststore.jks
    ssl.truststore.password=${file:/vault/secrets/connect-secret.properties:SSL_TRUSTSTORE_PASSWORD}
    ssl.keystore.location=/vault/secrets/keystore.jks
    ssl.keystore.password=${file:/vault/secrets/connect-secret.properties:SSL_KEYSTORE_PASSWORD}
    ssl.endpoint.identification.algorithm=

  connectors:
    idpdb-source-primary-connector: |
        {
          "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
          "tasks.max": "1",
          "database.hostname": "host.docker.internal",
          "database.port": "5432",
          "database.user": "idpapp",
          "database.password": "idp",
          "database.server.name": "idpdb",
          "database.dbname": "idpdb",
          "table.include.list": "public.customers,public.table_a,public.table_b,public.table_c",
          "publication.name": "debezium_publication",
          "plugin.name": "pgoutput",
          "slot.name": "debezium",
          "snapshot.mode": "initial",
          "decimal.handling.mode": "precise",
          "tombstones.on.delete": true,
          "time.precision.mode": "connect",
          "publication.autocreate.mode": "filtered",
          "key.converter": "org.apache.kafka.connect.json.JsonConverter",
          "key.converter.schemas.enable": "true",
          "value.converter": "org.apache.kafka.connect.json.JsonConverter",
          "value.converter.schemas.enable": "true",
          "transforms": "removeSchema,filterByChangeSource",
          "transforms.removeSchema.type": "io.debezium.transforms.ByLogicalTableRouter",
          "transforms.removeSchema.topic.regex": "(.*)[.](.*)[.](.*)",
          "transforms.removeSchema.topic.replacement": "$1.primary.$3",
          "transforms.filterByChangeSource.type": "io.debezium.transforms.Filter",
          "transforms.filterByChangeSource.language": "jsr223.groovy",
          "transforms.filterByChangeSource.condition": "value.op == 'd' || value.op == 'r' || (value.op == 'c' || value.op == 'u') && value.after.change_source == 'PRIMARY'",
          "transforms.filterByChangeSource.predicate": "isTableTopic",
          "predicates": "isTableTopic",
          "predicates.isTableTopic.type": "org.apache.kafka.connect.transforms.predicates.TopicNameMatches",
          "predicates.isTableTopic.pattern": "(?!.*transaction)(idpdb.primary..+)",
          "provide.transaction.metadata": "true",
          "transaction.topic": "idpdb.primary.transaction",
          "topic.prefix": "idpdb"
        }

secman:
  namespace: CI02440297_CI02516656
  role: ci02440297-etestkh-sberid-cloud-ift-h
  cluster: test-kh.enablers.sbrf.ru
  address: http://egress-secman
  path: '/A/SBERID/OSH/SBERID/KV/cloud'
  secretText:
    - name: connect-secret.properties
      secret: sberid-replication-source-primary
  secretFile:
    - name: truststore.jks
      secret: sberid-replication-source-primary
    - name: keystore.jks
      secret: sberid-replication-source-primary
    - name: ca.crt
      secret: sberid-replication-source-primary
